<li>
	{{name}}

	<button class="Devour It!" data-id="{{id}}" data-devour="{{devour}}">
		{{!-- {{#if devour}}SLEEP TIME!{{else}}WAKE UP!{{/if}} --}}
		{{#if devour}}DEVOUR IT!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
